name: Check Lesson 02 Pull Request

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "lesson_02/**"

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: ./lesson_02
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Run pytest
        working-directory: ./lesson_02
        run: pytest
